<a href="https://colab.research.google.com/github/YazMRRS/FisicaComputacional1/blob/master/Actividad3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducci√≥n a Pandas**

In [8]:
#Importamos bibliotecas
import pandas as pd
import numpy as np


#Definimos el DataFrame, tomando el archivo URL de Github
url = 'https://raw.githubusercontent.com/YazMRRS/FisicaComputacional1/master/Actividad1/26086Diario.txt'
my_cols = ['FECHA', 'PRECIP', 'EVAP', 'TMAX', 'TMIN']
df_dist = pd.read_csv(url, names=my_cols, encoding='cp1251', sep='\s+', header=None, skiprows=19, engine='python', skipfooter=1)

In [14]:
#Mediante estas funciones estudiamos la estructura de nuestro archivo y exploramos el DataFrame.

#Imprimimos el encabezado y final del DataFrame
print(df_dist.head(10))
print(df_dist.tail(10))

        FECHA PRECIP  EVAP  TMAX  TMIN
0  05/08/1924      0  Nulo    42    29
1  06/08/1924      0  Nulo  42.3  24.8
2  07/08/1924      0  Nulo    42  25.5
3  08/08/1924      0  Nulo  38.3  26.5
4  09/08/1924      0  Nulo  42.5  26.4
5  10/08/1924      0  Nulo  41.5    28
6  11/08/1924      0  Nulo  43.8  27.2
7  12/08/1924      0  Nulo    45  24.4
8  13/08/1924      0  Nulo  45.3  25.2
9  14/08/1924      0  Nulo  44.2  24.3
            FECHA PRECIP  EVAP  TMAX  TMIN
19159  22/12/1987      0  Nulo    21     3
19160  23/12/1987      0  Nulo  16.5     7
19161  24/12/1987      0  Nulo  12.5     5
19162  25/12/1987      0  Nulo   9.5    -1
19163  26/12/1987      0  Nulo   9.5  -2.5
19164  27/12/1987      0  Nulo    14  -2.5
19165  28/12/1987      0  Nulo    16     1
19166  29/12/1987      0  Nulo  17.5    -1
19167  30/12/1987      0  Nulo  15.5     5
19168  31/12/1987      0  Nulo    17     2

In [16]:
#Calculamos las dimensiones de nuestro DataFrame
df_dist.shape

(19169, 5)

In [17]:
#Ponemos como es el contenido de nuestro DataFrame
df_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19169 entries, 0 to 19168
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   FECHA   19169 non-null  object
 1   PRECIP  19169 non-null  object
 2   EVAP    19169 non-null  object
 3   TMAX    19169 non-null  object
 4   TMIN    19169 non-null  object
dtypes: object(5)
memory usage: 748.9+ KB

In [20]:
#Reemplazamos la palabra nulo
df_work0 = df_dist.copy()
df_work0.head()

        FECHA PRECIP  EVAP  TMAX  TMIN
0  05/08/1924      0  Nulo    42    29
1  06/08/1924      0  Nulo  42.3  24.8
2  07/08/1924      0  Nulo    42  25.5
3  08/08/1924      0  Nulo  38.3  26.5
4  09/08/1924      0  Nulo  42.5  26.4

In [21]:
str_Nulo = 'Nulo'
df_work1 = df_work0.replace(to_replace=str_Nulo, value='', regex=True)
df_work1.head()

        FECHA PRECIP EVAP  TMAX  TMIN
0  05/08/1924      0         42    29
1  06/08/1924      0       42.3  24.8
2  07/08/1924      0         42  25.5
3  08/08/1924      0       38.3  26.5
4  09/08/1924      0       42.5  26.4

In [25]:
#Convertimos a n√∫mero flotante o n√∫merico los datos de precipitaci√≥n, evaporaci√≥n, temperatura m√°xima, temperatura m√≠nima.
cols_list = ['PRECIP', 'EVAP', 'TMAX', 'TMIN']
for cols in cols_list:
  df_work1[cols] = pd.to_numeric(df_work1[cols], errors='coerce')

In [26]:
#Contrastamos la informaci√≥n de nuestro DataFrame
df_work1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19169 entries, 0 to 19168
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   FECHA   19169 non-null  object
 1   PRECIP  19155 non-null  float64
 2   EVAP    4123 non-null   float64
 3   TMAX    19062 non-null  float64
 4   TMIN    19067 non-null  float64
dtypes: float64(4), object(1)
memory usage: 748.9+ KB

In [27]:
#Contabilizamos el n√∫mero de datos faltantes en esas variables
df_work1.isnull().sum()

FECHA         0
PRECIP       14
EVAP      15046
TMAX        107
TMIN        102
dtype: int64

In [28]:
#Imprimimos el nuevo encabezado y final de nuestro dataframe
print(df_work1.head())
print(df_work1.tail())

        FECHA  PRECIP  EVAP  TMAX  TMIN
0  05/08/1924     0.0   NaN  42.0  29.0
1  06/08/1924     0.0   NaN  42.3  24.8
2  07/08/1924     0.0   NaN  42.0  25.5
3  08/08/1924     0.0   NaN  38.3  26.5
4  09/08/1924     0.0   NaN  42.5  26.4
            FECHA  PRECIP  EVAP  TMAX  TMIN
19164  27/12/1987     0.0   NaN  14.0  -2.5
19165  28/12/1987     0.0   NaN  16.0   1.0
19166  29/12/1987     0.0   NaN  17.5  -1.0
19167  30/12/1987     0.0   NaN  15.5   5.0
19168  31/12/1987     0.0   NaN  17.0   2.0

In [29]:
#Realizamos una estad√≠stica b√°sica de las variables num√©ricas de nuestro DataFrame
df_work1.describe()

             PRECIP         EVAP          TMAX          TMIN
count  19155.000000  4123.000000  19062.000000  19067.000000
mean       0.149267     6.665802     31.474184     14.308528
std        1.568891     3.596044      8.842591      8.139908
min        0.000000     0.100000      6.000000     -6.500000
25%        0.000000     3.600000     24.000000      7.600000
50%        0.000000     6.000000     31.650000     13.000000
75%        0.000000     9.600000     39.000000     21.000000
max       80.000000    16.400000     58.000000     37.000000

In [31]:
#Hacemos una copia del DataFrame del paso anterior, en dado caso que se reequiera recuperar el nuevo DataFrame
df_new=df_work1.copy()

In [37]:
#Convertimos el objeto FECHA a formato de fecha que comprende Python.
df['FECHA'] = pd.to_datetime(df['FECHA'])
df

           FECHA  PRECIP  EVAP  TMAX  TMIN
0     1924-05-08     0.0   NaN  42.0  29.0
1     1924-06-08     0.0   NaN  42.3  24.8
2     1924-07-08     0.0   NaN  42.0  25.5
3     1924-08-08     0.0   NaN  38.3  26.5
4     1924-09-08     0.0   NaN  42.5  26.4
...          ...     ...   ...   ...   ...
19164 1987-12-27     0.0   NaN  14.0  -2.5
19165 1987-12-28     0.0   NaN  16.0   1.0
19166 1987-12-29     0.0   NaN  17.5  -1.0
19167 1987-12-30     0.0   NaN  15.5   5.0
19168 1987-12-31     0.0   NaN  17.0   2.0

[19169 rows x 5 columns]

In [38]:
#Verificamos que todas las variables son del tipo deseado
df_new.dtypes

FECHA     datetime64[ns]
PRECIP           float64
EVAP             float64
TMAX             float64
TMIN             float64
dtype: object

In [54]:
#Creamos dos columnas nuevas adicionales
df['FECHA'].dt.year
df['FECHA'].dt.month

0         5
1         6
2         7
3         8
4         9
         ..
19164    12
19165    12
19166    12
19167    12
19168    12
Name: FECHA, Length: 19169, dtype: int64

In [49]:
#Verificamos que el DataFrame tenga la forma deseada
print(df.head(10))
print(df.tail(10))

       FECHA  PRECIP  EVAP  TMAX  TMIN
0 1924-05-08     0.0   NaN  42.0  29.0
1 1924-06-08     0.0   NaN  42.3  24.8
2 1924-07-08     0.0   NaN  42.0  25.5
3 1924-08-08     0.0   NaN  38.3  26.5
4 1924-09-08     0.0   NaN  42.5  26.4
5 1924-10-08     0.0   NaN  41.5  28.0
6 1924-11-08     0.0   NaN  43.8  27.2
7 1924-12-08     0.0   NaN  45.0  24.4
8 1924-08-13     0.0   NaN  45.3  25.2
9 1924-08-14     0.0   NaN  44.2  24.3
           FECHA  PRECIP  EVAP  TMAX  TMIN
19159 1987-12-22     0.0   NaN  21.0   3.0
19160 1987-12-23     0.0   NaN  16.5   7.0
19161 1987-12-24     0.0   NaN  12.5   5.0
19162 1987-12-25     0.0   NaN   9.5  -1.0
19163 1987-12-26     0.0   NaN   9.5  -2.5
19164 1987-12-27     0.0   NaN  14.0  -2.5
19165 1987-12-28     0.0   NaN  16.0   1.0
19166 1987-12-29     0.0   NaN  17.5  -1.0
19167 1987-12-30     0.0   NaN  15.5   5.0
19168 1987-12-31     0.0   NaN  17.0   2.0

In [55]:
#Verificamos que todas las variables son del tipo adecuado
df.dtypes

FECHA     datetime64[ns]
PRECIP           float64
EVAP             float64
TMAX             float64
TMIN             float64
dtype: object